<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="jumbotron jumbotron-fluid">
            <div class="col-md-4" style="float: left;">
                <img src="{{heroe.img}}" class="img-fluid">
                <br><br>
                <button (click)="verHeroes()" class="btn btn-outline-danger btn-block">Volver</button>
            </div>
            <div class="col-md-8" style="float: right;">
                <h1 class="display-4">{{heroe.nombre | uppercase}} <small>{{heroe.aparicion}}</small></h1>
                <p class="lead">{{heroe.bio}}</p>
            </div>
        </div>
    </div>
</body>
</html>