<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->
<!-- <body> -->
    <h1>Busqueda: <small>{{termino}}</small></h1>
<hr>
<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let heroe of heroes">
        <img [src]="heroe.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{heroe.nombre}}</h5>
          <p class="card-text">{{heroe.bio}}</p>
          <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
        </div>
      </div>
</div>
<!-- </body> -->
<!-- </html> -->