<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="animated fadeIn fast">Sobre comic app</h1>
    <p class="animated fadeIn">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sed corrupti saepe voluptate eos ullam aliquam. Vero totam, earum enim quo nam tempora, excepturi dignissimos necessitatibus nulla eligendi cum sed?
    </p>
</body>
</html>
